
section {
    display: block;
}
body {
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    background: blue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h3{
    border: 2px black solid;
}
html {
    color: -internal-root-color;
}